pandas~=2.1.4
tqdm~=4.66.1
openai~=1.8.0
spacy~=3.7.2
torch
llama-index==0.9.33
huggingface-hub[cli]
rank-bm25
sentence-transformers
ranx
transformers
openpyxl
rouge_score
FlagEmbedding
wandb
nltk
trl
bitsandbytes